.explore-all-destinations,
.heading-1 {
  width: 661px;
  height: 63px;
  position: relative;
  line-height: 110%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.explore-all-destinations {
  width: 882.9px;
  height: 60px;
  font-size: 18px;
  line-height: 120%;
}
.hero {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  padding: 80px 20px 80px 518px;
  box-sizing: border-box;
  gap: 24px;
  max-width: 100%;
}
.hero,
.productlistingpage,
.search-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.search-bar {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  padding: 80px 360px;
  box-sizing: border-box;
  gap: 64px;
  max-width: 100%;
}
.productlistingpage {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  overflow-y: auto;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 48px;
  color: #000;
  font-family: Roboto;
}
@media screen and (max-width: 1200px) {
  .hero,
  .search-bar {
    box-sizing: border-box;
  }
  .hero {
    padding-left: 259px;
  }
  .search-bar {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
@media screen and (max-width: 1050px) {
  .heading-1 {
    font-size: 38px;
    line-height: 42px;
  }
  .search-bar {
    gap: 32px;
    padding-left: 180px;
    padding-right: 180px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .hero,
  .search-bar {
    box-sizing: border-box;
  }
  .hero {
    padding-left: 129px;
  }
  .search-bar {
    gap: 16px;
    padding: 20px 90px;
  }
}
@media screen and (max-width: 450px) {
  .heading-1 {
    font-size: 29px;
    line-height: 32px;
  }
  .hero {
    padding-left: 20px;
    box-sizing: border-box;
  }
}
