.heading-32 {
  margin: 0;
  width: 564.2px;
  position: relative;
  font-size: inherit;
  line-height: 39.2px;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: calc(100% - 36px);
}
.img-icon7 {
  height: 16px;
  width: 16px;
  position: relative;
}
.backgroundborder,
.item-button {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.item-button {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.backgroundborder {
  border-radius: 12px;
  background-color: #f7f7f8;
  border: 1px solid #f7f7f8;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px 31px;
  text-align: left;
  font-size: 28px;
  color: #000;
  font-family: Roboto;
}
@media screen and (max-width: 450px) {
  .heading-32 {
    font-size: 22px;
    line-height: 31px;
  }
}
