.button-who,
.horizonsim-the-innovative {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.button-who {
  width: 282px;
  height: 30px;
  line-height: 120%;
}
.horizonsim-the-innovative {
  align-self: stretch;
  height: 73px;
  font-size: 16px;
  line-height: 135%;
  font-family: Manrope;
  color: #4d4e56;
}
.button-who-owns-saily-parent,
.verticalborder {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-who-owns-saily-parent {
  gap: 12px;
}
.verticalborder {
  border-left: 2px solid #000;
  padding: 0 8px;
  color: #000;
}
.button-whats {
  position: relative;
  line-height: 22px;
}
.verticalborder1 {
  border-left: 2px solid #b1b1b4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 26px;
}
.button-how {
  position: relative;
  line-height: 22px;
}
.verticalborder2 {
  border-left: 2px solid #b1b1b4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 26px;
}
.buttons-and-image,
.picture-image1 {
  flex: 1;
  max-width: 100%;
  min-width: 369px;
}
.buttons-and-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 0;
  box-sizing: border-box;
  gap: 20px;
}
.picture-image1 {
  height: 568px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.origin-container,
.origin-container-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.origin-container {
  width: 1200px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 64px;
}
.origin-container-wrapper {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 80px 20px;
  box-sizing: border-box;
  text-align: left;
  font-size: 18px;
  color: #6c6d75;
  font-family: Roboto;
}
@media screen and (max-width: 1200px) {
  .origin-container {
    gap: 32px;
  }
}
@media screen and (max-width: 750px) {
  .origin-container {
    gap: 16px;
  }
  .origin-container-wrapper {
    gap: 32px;
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .buttons-and-image,
  .picture-image1 {
    min-width: 100%;
  }
  .origin-container-wrapper {
    gap: 16px;
  }
}
