.image-6-layerstyle-icon2 {
  height: 64.3px;
  width: 69.9px;
  position: relative;
}
.horizon2 {
  margin-bottom: -8.4px;
  text-decoration: none;
  height: 38px;
  flex: 1;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
}
.horizon-wrapper {
  align-self: stretch;
  height: 29.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.sim2 {
  text-decoration: none;
  position: relative;
  font-size: 14.1px;
  font-weight: 500;
  color: #929292;
  display: inline-block;
  min-width: 28.5px;
  flex-shrink: 0;
}
.frame-group {
  align-self: stretch;
  flex-direction: column;
}
.frame-group,
.logo-inner,
.logo2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-inner {
  flex: 1;
  flex-direction: column;
  padding: 7.1px 0 0;
}
.logo2 {
  width: 216px;
  flex-direction: row;
  gap: 13.9px;
  flex-shrink: 0;
}
.link-about2,
.link-destinations2,
.link-help2,
.link-what2 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 95px;
}
.link-about2,
.link-help2,
.link-what2 {
  line-height: 135%;
  min-width: 118px;
  white-space: nowrap;
}
.link-about2,
.link-help2 {
  min-width: 68px;
}
.link-help2 {
  min-width: 88px;
}
.header-links,
.header-links-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.header-links {
  align-self: stretch;
  flex-direction: row;
  gap: 24px;
}
.header-links-container {
  flex: 1;
  flex-direction: column;
  padding: 13px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.button-download-app1 {
  height: 48px;
  width: 176.3px;
}
.header-links-parent,
.header-links-parent-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.header-links-parent {
  align-self: stretch;
  flex-direction: row;
  gap: 48px;
  flex-shrink: 0;
}
.header-links-parent-wrapper {
  width: 665.3px;
  flex-direction: column;
  padding: 8.1px 0 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #000;
  font-family: Manrope;
}
.logo-group {
  width: 1200px;
  justify-content: space-between;
  gap: 20px;
}
.header2,
.header3,
.logo-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.header3 {
  flex: 1;
  background-color: #fff;
  justify-content: center;
  padding: 17.9px 20px 17.8px;
  box-sizing: border-box;
}
.header2 {
  align-self: stretch;
  justify-content: flex-start;
  flex-shrink: 0;
  text-align: left;
  font-size: 28.8px;
  color: #ef420e;
  font-family: Inter;
}
@media screen and (max-width: 1225px) {
  .header-links {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .header-links-parent {
    gap: 24px;
  }
}
@media screen and (max-width: 450px) {
  .link-what2 {
    display: none;
  }
}
